<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gd.android.demolib">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.DemoPlugin"
            android:value="com.gd.android.demolib.InstantiateSingleton"
            />
    </application>

</manifest>